#main-wrapper
{
overflow:hidden;
}

#slice-hide-button {
 display:none;
}
.slice-container .slice-hide-button
{
 display:none;
}

#payplan-create-check{
 visibility:hidden;
}

.history-list-container .app-refund {
display:none;
}

.divider {
display: none;
}
.receipt-print { display: none; }

.receipt-print.form-group.pull-left { display:block; }

.app-refund .app-receipt-options {
    display: none;
}

.slice-container {
    width: 380px;
}